<p id="notice"><%= notice %></p>

<h1>Cashes</h1>
<h1>회 비</h1>
<%= @wallet %>
<table>
  <thead>
    <tr>
      <th>date</th>
      <th>description</th>
      <th>Income</th>
      <th>Expenditure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashes.each do |cash| %>
      <tr>
        <td><%= cash.date %></td>
        <td><%= cash.description %></td>
        <td><%= cash.income %></td>
        <td><%= cash.expenditure %></td>
        <td><%= link_to 'Destroy', cash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="btn">추가</button>

<br>

<%= link_to 'New Cash', new_cash_path %>

<div id="remote_cash_container"></div>

<script>
    $('.btn').click(function(event) {
        $.getScript('<%= new_cash_path %>', function() {

        });
    });
</script>
