<style>
  .btn-sm {
    background-color: transparent;
    border: 1px solid lightgray;
    padding: 8px 20px;
    margin-left: 15px;
  }
</style>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="notice"><%= message %></p>
  </div>
<% end %>
<h3>회비 내역</h3>
<span style="font-size: 1.5em; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">총 회비 : <%= number_with_delimiter(@wallet) %></span>
<div class="table-responsive form-inline">
  <table class="table table-hover table-condensed" style="margin-top: 30px">
    <thead>
    <tr>
      <th>날짜</th>
      <th>설명</th>
      <th>수입</th>
      <th>지출</th>
    </tr>
    </thead>

    <tbody>
    <% @cashes.each do |cash| %>
      <tr>
        <td><%= cash.date %></td>
        <td><%= cash.description %></td>
        <td><%= number_with_delimiter(cash.income) %></td>
        <td><%= number_with_delimiter(cash.expenditure) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<button class="add_btn btn-sm btn-default">추가</button>

<br>

<div id="remote_cash_container"></div>

<script>
    $('.add_btn').click(function(event) {
        $.getScript('<%= new_cash_path %>', function() {

        });
    });
</script>
