<style>
  .btn-sm {
    background-color: transparent;
    border: 1px solid lightgray;
    padding: 8px 20px;
    margin-left: 15px;
  }
</style>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="notice"><%= message %></p>
  </div>
<% end %>

<div class="section_differ">
  <div class="section_differ_inner" style="display: block;">
    <h3 class="sectionview_tit">
      <span class="tit_sectionview">회비 관리</span>
    </h3>
    <ul class="list_post">
      <li>
        <div class="link_post tit_line2">
            <span class="desc_post">
              <strong class="tit_post" style="display: inline-block">총 회비</strong>
              <strong class="tit_post" style="display: inline-block; float:right; margin-right:20px"><%= number_with_delimiter(@wallet.current_money) %></strong>
            </span>
          <span class="data_info">
            <span class="txt_category">업데이트</span>
              <span class="txt_date">
                <%= @wallet.updated_at %>
              </span>
            </span>
        </div>
      </li>
      <% @cashes.each do |cash| %>
        <li>
          <div class="link_post tit_line2">
            <span class="desc_post">
              <strong class="tit_post" style="display: inline-block"><%= cash.description %></strong>
              <strong class="tit_post" style="display: inline-block; float:right; margin-right:20px"><%= number_with_delimiter(cash.money) %></strong>
            </span>
            <span class="data_info">
              <% if cash.status == Cash::Status::INCOME %>
                <span class="txt_category">입금</span>
              <% elsif cash.status == Cash::Status::EXPENDITURE %>
                <span class="txt_category">출금</span>
              <% end %>
              <span class="txt_date">
                <%= cash.date %>
              </span>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="link_more">
      <%= paginate @cashes %>
    </div>
  </div>
</div>

<button class="add_btn btn-sm btn-default">추가</button>

<br>

<div id="remote_cash_container"></div>

<script>
    $('.add_btn').click(function(event) {
        $.getScript('<%= new_cash_path %>', function() {

        });
    });
</script>
