<p id="notice"><%= notice %></p>

<p>
  <strong>Income:</strong>
  <%= @cash.income %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @cash.expenditure %>
</p>

<%= link_to 'Edit', edit_cash_path(@cash) %> |
<%= link_to 'Back', cashes_path %>
