<%= simple_form_for(@notice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :context %>
  </div>

  <%= f.fields_for :notice_attachments do |p| %>
    <div class="field">
      <%= p.label :s3 %><br>
      <%= p.file_field :s3, :multiple => true, name: 'notice_attachments[s3][]' %>
    </div>
    <button class="btn btn-sm add_btn">추가</button>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
    $('.add_btn').click(function() {
        var div = $('<input multiple="multiple" name="notice_attachments[s3][]" type="file" id="post_post_attachments_attributes_0_s3">');
        $('.field').append(div);
        return false;
    });
</script>
