
<li id="comment_<%=notice_comment.id %>">
  <div class="item_cmt reply_cmt">
    <a class="thumb_img">
      <img src="//img1.daumcdn.net/thumb/C30x30/?fname=https%3A%2F%2Ft1.daumcdn.net%2Ftistory_admin%2Fblog%2Fadmin%2Fprofile_default_03.png" class="img_thumg" alt="프로필 이미지">
    </a>
    <div class="cmt_info">
      <strong class="info_append">
        <a class="link_author"><%= User.find(notice_comment.user_id).display_name %></a>
        <span class="txt_date">
          <span><%= time_ago_in_words(notice_comment.created_at) %> ago</span>
        </span>
      </strong>
      <span class="txt_cmt">
        <!-- react-text: 22 --><%= notice_comment.body %><!-- /react-text -->
      </span>
    </div>
    <div class="control_cmt">
      <button type="button" class="btn_control" onclick="myFunction(<%=notice_comment.id %>)">
        <span class="ico_comm inner_btn">댓글 컨트롤 레이어 펼침</span>
      </button>
      <div class="control_layer control_layer_<%=notice_comment.id %>">
        <%= link_to '삭제', [notice_comment.notice, notice_comment], class:'btn_ctr', method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</li>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction(id) {
        var className = '.control_layer_' + id;
        $(className).toggle("show");
    }
</script>