<p id="notice"><%= notice %></p>

<h1>Travel Posts</h1>


<div>
  <% @travel_posts.each do |travel_post| %>
    <div>
      <p>
        <strong>Title:</strong>
        <%= travel_post.title %>
      </p>

      <p>
        <strong>Context:</strong>
        <%= travel_post.context %>
      </p>

      <p>
        <strong>User:</strong>
        <%= User.find(travel_post.user_id).display_name %>
      </p>


      <%= link_to 'Show', travel_post %>
      <%= link_to 'Edit', edit_travel_post_path(travel_post) %>
      <%= link_to 'Destroy', travel_post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Travel Post', new_travel_post_path %>
