<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @travel_post.title %>
</p>

<p>
  <strong>Context:</strong>
  <%= @travel_post.context %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@travel_post.user_id).display_name %>
</p>

<p>
  <strong>사진:</strong>
  <% @travel_post_attachments.each do |post| %>
    <%= image_tag("#{post.s3.main}") %>
  <% end %>

</p>

<div class="letter-button-box">
  <% if @current_user_like.present? %>
    <%= form_tag delete_travel_post_like_path(:travel_post_id => params[:id]), method: :delete do %>
      <input type="submit" value="like" name="like" class="button float-right" style="color: blue">
    <% end %>
  <% else %>
    <%= form_tag travel_post_like_path(:travel_post_id => params[:id]), method: :post do %>
      <input type="submit" value="like" name="like" class="button float-right">
    <% end %>
  <% end %>
  <% if @current_user_dislike.present? %>
    <%= form_tag delete_travel_post_like_path(:travel_post_id => params[:id]), method: :delete do %>
      <input type="submit" value="dislike" name="like" class="button float-right" style="color: red">
    <% end %>
  <% else %>
    <%= form_tag travel_post_like_path(:travel_post_id => params[:id]), method: :post do %>
      <input type="submit" value="dislike" name="like" class="button float-right">
    <% end %>
  <% end %>
</div>

<%= render 'travel_comments/travel_comments' %>

<%= link_to 'Edit', edit_travel_post_path(@travel_post) %> |
<%= link_to 'Back', travel_posts_path %>
