<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("9.jpg", :alt => "fifth slide", :class => 'd-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag("10.jpg", :alt => "fifth slide", :class => 'd-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag("11.jpg", :alt => "fifth slide", :class => 'd-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag("4.jpg", :alt => "first slide", :class => 'd-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag("5.jpg", :alt => "second slide", :class => 'd-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag("6.jpg", :alt => "third slide", :class => 'd-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag("7.jpg", :alt => "fourth slide", :class => 'd-block w-100') %>
          </div>
          <div class="carousel-item">
            <%= image_tag("8.jpg", :alt => "fifth slide", :class => 'd-block w-100') %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p class="notice"><%= message %></p>
    </div>
  <% end %>
  <div class="form-group" style="margin-top: 50px; text-align: center">
    <% if user_signed_in? %>
      <p> 현재 로그인된 유저의 이메일: <%= current_user.email %> </p>
      <p> <%= link_to "로그아웃", destroy_user_session_path,
                      method: :delete, data: {confirm: "로그아웃 하시겠습니까?"},
                      class: 'btn btn-default' %> </p>
    <% else %>
      <p> <%= link_to "로그인", new_user_session_path, class: 'btn btn-default' %> </p>
    <% end %>
  </div>
</div>
