<%= simple_form_for(@post) do |f| %>
  <div>
    <div class="blogview_tit">
      <h2 class="post_heading"><%= f.input :title, label:false %></h2>
      <cite class="by_blog">
        <span class="txt_by"><%= User.find_by_id(current_user.id).display_name %></span>
      </cite>
    </div>
    <div class="blogview_info">
      <time class="txt_date"></time>
      <span class="sympathy_wrap">
            <div class="info_sym">
              <span class="ico_comm ico_comment"></span><span class="count_comment">0</span>
            </div>
            <div class="info_sym">
              <span class="ico_comm ico_heart"></span><span class="count_comment">0</span>
            </div>
          </span>
    </div>
    <div class="blogview_content">
      <p class="blog_p">
        <%= f.input :context, label:false, input_html: { rows: 5 } %>
      </p>
      <p class="blog_p">
        <div class="field">
          <%= f.fields_for :post_attachments do |p| %>
            <%= p.file_field :s3, :multiple => true, name: 'post_attachments[s3][]' %>
          <% end %>
        </div>
        <button class="btn btn-sm add_btn">추가</button>
      </p>
    </div>
  </div>
<% end %>

<script>
    $('.add_btn').click(function() {
        var div = $('<input multiple="multiple" name="post_attachments[s3][]" type="file" id="post_post_attachments_attributes_0_s3">');
        $('.field').append(div);
        return false;
    });

    $("#post_title").addClass('form-control');
    $("#post_context").addClass('form-control');

</script>