<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="notice"><%= message %></p>
  </div>
<% end %>

<div class="section_differ">
  <div class="section_differ_inner" style="display: block;">
    <h3 class="sectionview_tit">
      <span class="tit_sectionview">자유게시판</span>
    </h3>
    <ul class="list_post">
      <% @posts.each do |post| %>
        <li>
          <a href="/posts/<%=post.id %>" class="link_post tit_line2">
            <span class="desc_post">
              <strong class="tit_post"><%= post.title %></strong>
            </span>
            <span class="data_info">
              <span class="txt_category">자유게시판</span>
              <span class="txt_date">
                <%= post.created_at.to_date %>
              </span>
              <span class="sympathy_wrap">
                <span class="info_sym">
                  <span class="ico_comm ico_comment">댓글수</span>
                  <%= post.comments.count %>
                </span>
                <span class="info_sym">
                  <span class="ico_comm ico_heart">내가 공감한 블로그 공감수</span>
                  <%= post.post_likes.where(like: true).count %>
                </span>
              </span>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="link_more">
      <%= paginate @posts %>
    </div>
  </div>
</div>
<button class="btn btn-default button">
  <%= link_to '새글작성', new_post_path %>
</button>










