<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
    <tr>
      <th>No</th>
      <th>제목</th>
      <th>작성자</th>
      <th>생성일</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr id="<%= dom_id(post) %>"  class="linkable" data-href="<%= posts_path+'/'+post.id.to_s %>">
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.display_name %></td>
        <td><%= post.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<script>
    $(document).ready(function(){
        $('table td').click(function(){
            window.location = $(this).parent().data('href');
            return false;
        });
        $('[data-toggle="tooltip"]').tooltip();
        $(".delivary").addClass("active");
    });
</script>