<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<% @posts.each do |post| %>
  <li>
    <div class="text-box" id="<%= dom_id(post) %>"  class="linkable" data-href="<%= posts_path+'/'+post.id.to_s %>">
      <h1><%= truncate(post.title, length: 40) %></h1>
      <div class="info">
        <span class="nickname"><%= post.display_name %></span>
        <span><%= post.created_at.to_date %></span>
        <span>조회: 0 </span>
      </div>
      <div class="info">
        <img src="http://akamai-cdn.cashslide.kr/comm_sys_fl_brd_icon_reply_s.png" class="like-icon" /> <span class="like-text"><%= post.comments.count %></span>
        <img src="http://akamai-cdn.cashslide.kr/comm_sys_fl_brd_icon_like.png" class="like-icon" /> <span class="like-text">0</span>
      </div>
    </div>
  </li>
<% end %>


<%= link_to 'New Post', new_post_path %>

<script>
    $(document).ready(function(){
        $('.text-box').click(function(){
            window.location = $(this).data('href');
            return false;
        });
        $('[data-toggle="tooltip"]').tooltip();
        $(".delivary").addClass("active");
    });
</script>