<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Context:</strong>
  <%= @post.context %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>사진:</strong>
  <% @post_attachments.each do |post| %>
    <%= image_tag("#{post.s3}") %>
  <% end %>

</p>

<%= render 'comments/comments' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
